body{
	margin:0;
}
#menu a{
	font-size: 1.5em;
	text-decoration: none;
	color:white;
	margin:auto;
	padding:20px;
	
}

#header{
	padding:0;
}

#menu{
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #000;
	text-align: center;
}

#footer{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #000;
	width:100%;
}

#footer span{
	color:white;
}

.tableauEvaluations table
{
	margin-bottom: 20px;
	margin-top: 20px;
	width:100%;
    border-collapse: collapse;
}
.tableauEvaluations td, th 
{
	text-align: center;
	padding:15px;
    border: 1px solid black;
}

#nomP{
	margin-top: 20px;
}